body {
  background-color: #454444;
}

h1 {
  text-align: center;
  padding-top: 12px;
  color: #b9bcbb;
}

.mail-composer {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-top: 30px;
}

.form {
  padding: 20px;
  background-color: #b9bcbb;
  padding-bottom: 12px;
}

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.textarea {
  width: 100%;
  padding: 10px;
  height: 175px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 7px;
}

.send-button {
  background-color: #2d3a4f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.clear-data {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}

.clear {
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
  padding-bottom: 7px;
}

.icon-button {
  background-color: #b9bcbb;
}